body{
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 10rem -5rem;
  overflow: hidden;
}

.card__img {
  width: 30rem;
  position: relative;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__img > img {
  width: 1rem;
  position: relative;
  z-index: 1;
  pointer-events: none;
}